<div class="col-md-8 col-md-offset-2" style="box-shadow:2px 2px 5px #800000;">
<h2>Edit Film</h2>


<%= simple_form_for @film, :html => { :multipart => true } do |f| %>
<%= f.file_field :film_img %>
<%= f.input :title, label: "Film title" %>
<%= f.input :plot %>
<%= f.select :genre_id, @genres %>
<%= f.input :actor %>
<%= f.button :submit %>
<% end %>
<br>
</div>
