<div class="row">

<div class="col-md-4">
<!-- this page will correspond to the films controller where we defined find_film action-->
<%= image_tag @film.film_img.url(:film_show), class: "film-show" %>
</div>
<div class="col-md-8">
<h2><%= @film.title %></h2>
<h4>Genre: <%= @film.genre.name %></h4>
<p><%= @film.plot %></p>
<h4>Cast: <%= @film.actor %></h4>
</div>

</div>

<!-- The If statements are for when the user is not logged in they can't access the edit and delete links Only the user who has created a certain book can access their edit and delete links-->
<div class="row">
<div class="col-md-12">
  <!-- Reviews -->

</div>

</div>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>


<% if @film.user_id == current_user.id %>

<%= link_to "Edit", edit_film_path(@film) %>
<%= link_to "delete", film_path(@film), method: :delete, data: { confirm:"Are you sure you want to delete this film?"} %>

<% end %>

<% end %>
