
<!-- this page will correspond to the films controller where we defined find_film action-->

<h2><%= @film.title %></h2>
<h3><%= @film.actor %></h3>
<p><%= @film.plot %></p>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_film_path(@film) %>
<%= link_to "delete", film_path(@film), method: :delete, data: { confirm:"Are you sure you want to delete this film?"} %>
